@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

/* width of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* background of the track */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

/* draggable thumb */
::-webkit-scrollbar-thumb {
  background-color: #10b981; /* Tailwind green-500 */
  border-radius: 10px;
  border: 2px solid #f0f0f0; /* adds padding inside thumb */
}

/* on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #059669; /* Tailwind green-600 */
}
